body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
    display: none;
}

#coordinates {
    display: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 16px 24px; /* Larger padding for bigger buttons */
    font-size: 18px;
    background-color: #4CAF50; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Center buttons at the top */
#toggle-btn {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}
